In [ ]:
# Challenge 3
price_apple=float(4.99)
num_apple=int(input("How many apple?"))
total_cost=round(price_apple*num_apple,2)
print( "The total cost for {} apples is ${}".format(num_apple,total_cost))

The total cost for 10 apples is $49.9

In [3]:
name = "Thu Hang Nguyen"
age  = 37
print("Hello, my name is {} and I am {} years old".format (name, age))

Hello, my name is Thu Hang Nguyen and I am 37 years old

In [ ]:
greating = "Welcome to new students"
year_born=int(1988)
height_in_meters=float(1.60)
is_student = bool(True)
print(type(is_student))
print(type(greating))
print(type(year_born))
print(type(height_in_meters))d

<class 'bool'>
<class 'str'>
<class 'int'>
<class 'float'>